# Qwen3-TTS Dependencies for HuggingFace Spaces
torch==2.11.0
torchvision==0.26.0
transformers==4.57.3
accelerate==1.12.0
einops
gradio
librosa
torchaudio
soundfile
sox
onnxruntime
spaces
torch
numpy
kernels